rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isTeacher() {
      return request.auth != null && request.auth.token.role == 'teacher';
    }

    function isAdmin() {
      return isTeacher() && request.auth.token.admin == true;
    }

    match /teachers/{teacherId}/{path=**} {
      allow read, write: if isAdmin() || (isTeacher() && request.auth.uid == teacherId);
    }

    match /ejercicios/{path=**} {
      allow read, write: if isTeacher();
    }

    match /documentos/{path=**} {
      allow read, write: if isTeacher();
    }
  }
}
